[project]
	description = GitTest Through Jenkins
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sundeep Nukaraju (nukarajusundeep)
[access "refs/for/refs/*"]
	read = group user/Sundeep Nukaraju (nukarajusundeep)
	push = group user/Sundeep Nukaraju (nukarajusundeep)
	label-Code-Review = -2..+2 group user/Sundeep Nukaraju (nukarajusundeep)
	label-Verified = -1..+1 group user/Sundeep Nukaraju (nukarajusundeep)
	rebase = group user/Sundeep Nukaraju (nukarajusundeep)
	removeReviewer = group user/Sundeep Nukaraju (nukarajusundeep)
	submit = group user/Sundeep Nukaraju (nukarajusundeep)
[access "refs/heads/*"]
	read = group user/Sundeep Nukaraju (nukarajusundeep)
	create = group user/Sundeep Nukaraju (nukarajusundeep)
	push = +force group user/Sundeep Nukaraju (nukarajusundeep)
	pushMerge = group user/Sundeep Nukaraju (nukarajusundeep)
[access "refs/tags/*"]
	push = group user/Sundeep Nukaraju (nukarajusundeep)
	push = +force group user/Sundeep Nukaraju (nukarajusundeep)
